body {
    background: #00607A;
   
}

.container {
    width: 480px;
    height: 280px;
    overflow: hidden;
    margin: 0px 5px 10px 5px;
    cursor: pointer;
    background: #002029;
    color: white;
    
}

.zoom {      
    -webkit-transition: all 0.35s ease-in-out;    
    -moz-transition: all 0.35s ease-in-out;    
    transition: all 0.35s ease-in-out;     
    cursor: -webkit-zoom-in;      
    cursor: -moz-zoom-in;      
    cursor: zoom-in;  
    }     
    
    .zoom:hover,  
    .zoom:active,   
    .zoom:focus {
    /**adjust scale to desired size, 
    add browser prefixes**/
    -ms-transform: scale(1.1);    
    -moz-transform: scale(1.1);  
    -webkit-transform: scale(1.1);  
    -o-transform: scale(1.1);  
    transform: scale(1.1);    
    position:relative;      
    z-index:100;  
    }